**/.git
**/.gitignore
**/target/
**/build/
**/.idea/
**/.vscode/
**/.settings/
**/.classpath
**/.project
**/.factorypath
**/.apt_generated
**/.DS_Store
**/Dockerfile
**/.dockerignore
**/README.md
**/LICENSE
**/mvnw
**/mvnw.cmd
**/.mvn/
